{% extends 'base.html' %} {% block content %} {% load static %}
<body class="w-primary">
      <div class="pre-loader" id="preloader">
        <div class="page">

                <div class="item">
                    <i class="loader --4"></i>
                </div>

        </div>
    </div>
    {% include 'header.html' %}
    <section>
        <div class="carousel-cars">
            <div class="carousel-container-cars">
              {% for image_url in image_urls %}
              <div class="carousel-item-cars">
                <div class="carousel-image-container-cars">
                  <img src="{{ image_url }}" alt="Image 1">
                </div>
              </div>
              {% endfor %}
            </div>
            <a class="carousel-arrow-cars carousel-arrow-left-cars"><ion-icon name="chevron-back-outline"  style="color: var(--dark-primary);"></ion-icon></a>
            <a class="carousel-arrow-cars carousel-arrow-right-cars"><ion-icon name="chevron-forward-outline" style="color: var(--dark-primary);"></ion-icon></ion-icon></a>
          </div> 
    </section>

<!--Titrre + Descr voiture-->
    <section>
      <div class="cars-descr">
        <div class="cars-c-1">
          <h3 class="cars-title">{{ product.title }}</h3>
          <p class="car-brand-descr">{{ product.marque }}</p>
        </div>
        <div class="cars-c-2">
          <a href="" onclick="shareLink()">
            <ion-icon name="share-outline" style="color: black;"></ion-icon>
          </a>
        </div>
      
      </div>
        <div class="cars-info">
          <p class="car-cars-descr" style="font-size: 13px;">Caracteristiques</p>
            <div class="att-c-descr">
              <div class="bloc1-att">
                <ion-icon name="man-outline" style="color: var(--highlight);"></ion-icon>
                <span class="attt-descr">{{ product.places }}</span>
              </div>
              <div class="bloc1-att">
                <ion-icon name="bag-outline" style="color: var(--highlight);"></ion-icon>
                <span class="attt-descr">{{ product.bagages }}</span>
              </div>
              <div class="bloc1-att">
                <ion-icon name="speedometer-outline" style="color: var(--highlight);"></ion-icon>
                <span class="attt-descr">{{ product.vitessemax }} km/h</span>
              </div>
              <div class="bloc1-att">
                <ion-icon name="analytics-outline" style="color: var(--highlight);"></ion-icon>
                <span class="attt-descr">{{ product.autonomie }} km</span>
              </div>
            </div>
          <p class="car-cars-descr">Tarifs Location</p>
          <table>
            <style>
              table {
                border-collapse: collapse;
                font-size: 13px;
              }
              
              table td {
                border: none;
                padding: 5px;
                font-size: 13px;
              }
            </style>
            <tr>
              <td>24h</td>
              <td>{{ product.price24 }} €</td>
            </tr>
            <tr>
              <td>48h-72h</td>
              <td>{{ product.price48 }} € / jour</td>
            </tr>
            <tr>
              <td>Location longue durée</td>
              <td>{{ product.price72 }} € / jour</td>
            </tr>
            <tr>
              <td>Kilomètre supp.</td>
              <td>{{ product.kmsupp }} € </td>
            </tr>
            <tr>
              <td>Franchise</td>
              <td>{{ product.franchise }} €</td>
            </tr>
          </table>
          <p class="car-cars-descr">Service</p>
          <div class="service-box-descr">
            <span class="box-car">Plaques Françaises</span>
            <span class="box-car">Livraison à domicile</span>
            <span class="box-car">Livré avec le plein</span>
            <span class="box-car">100% propre</span>
            <span class="box-car">Véhicule lustré</span>
            <span class="box-car">Voiture neuve</span>
          </div>
        </div>
    </section>

    <section class="contact-c">
        <a href="tel:+33650505050" class="anone">
        <div class="cta-btn-info">
            <p style="color: black;">Nous appeler</p>
            <p style="color: black;"><i class="fa-solid fa-chevron-right fa-beat"></i></p>
        </div>
        </a>
    </section>
     
    </div>
    <script>
        var loader = document.getElementById('preloader');
            window.addEventListener('load', function(){
                loader.style.display = "none";
            })
    </script>
<script>
  const menuToggle = document.querySelector('.menu-toggle');
const menu = document.querySelector('.menu');

menuToggle.addEventListener('click', () => {
  menu.classList.toggle('show');
});

</script>
    <script>
       document.addEventListener('DOMContentLoaded', function() {
  const items = document.querySelectorAll('.carousel-item-cars');
  const arrows = document.querySelectorAll('.carousel-arrow-cars');
  let currentIndex = 0;
  let startX = 0;
  let dist = 0;

  function showItem(index) {
    items.forEach(function(item) {
      item.classList.remove('active');
    });

    items[index].classList.add('active');
  }

  function prevItem() {
    currentIndex = (currentIndex === 0) ? items.length - 1 : currentIndex - 1;
    showItem(currentIndex);
  }

  function nextItem() {
    currentIndex = (currentIndex === items.length - 1) ? 0 : currentIndex + 1;
    showItem(currentIndex);
  }

  arrows.forEach(function(arrow) {
    arrow.addEventListener('click', function() {
      if (arrow.classList.contains('carousel-arrow-left-cars')) {
        prevItem();
      } else if (arrow.classList.contains('carousel-arrow-right-cars')) {
        nextItem();
      }
    });
  });

  showItem(currentIndex);

  // Gestion des événements tactiles
  items.forEach(function(item) {
    item.addEventListener('touchstart', function(e) {
      const touch = e.touches[0];
      startX = touch.clientX;
    });

    item.addEventListener('touchmove', function(e) {
      if (!startX) {
        return;
      }

      const touch = e.touches[0];
      const moveX = touch.clientX;
      dist = startX - moveX;
    });

    item.addEventListener('touchend', function(e) {
      if (dist > 0) {
        nextItem();
      } else if (dist < 0) {
        prevItem();
      }

      startX = 0;
      dist = 0;
    });
  });
});
</script>
</body>
{% endblock %}